body{
    margin: 0;
    font-family:"Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif ;
}
.continer{
    height: 187rem;
}
.header{
    width: 100%;
    height: 61px;
}
.logo{
    width: 12%;
    height:61px ;
    float: left;
}
.logo1{
    width: 112px;
    padding-top: 18px;
    padding-left: 95px;
}
.content1{
    width: 50%;
    float: left;
}
.navbar{
    background-color: #fff;
    padding-top: 4px;
}
.navbar li{
    float: left;
    list-style: none;
    padding-left: 20px;
} 
li{
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: rgb(38, 38, 38);
}
.content2{
    width: 30%;
    float: left;
    padding-left: 120px;
}
.navbar2{
    background-color: #fff;
    padding-top: 4px;
}
.navbar2 li {
    float: left;
    list-style: none;
    padding-left: 20px;
}
.icons{
    float: left;

}
#signin{
    width: 44px;
    height: 32px;
    float: left;
}
.cart{
    width: 27px;
}

/*main body start hear*/
.main-body{
    width: 100%;
    max-height: 550px;
    background-color: rgba(0, 0, 0, 0.06);
}
.advertisment1{
    width: 50%;
    float: left;
}
.surface{
    width: 100%;
    padding-left: 2px;
    padding-top: 67px;
    height: 100%;
}
.advertisment2{
    width: 50%;
    float: left;
}
.heading{
    font-size: 35px;
    line-height: 10px;
    color: rgb(0, 0, 0);
    padding-top: 174px;
    padding-left: 113px;
}
.para{
    padding-left: 117px;

}
.learn{
    margin-left: 117px;
    width: 95px;
    height: 38px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.navimage{
    margin-top: 237px;
}
.navimage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navto li{
    list-style: none;
    float: left;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(0,103,184);
}
.navto{
    margin-top: 60px;
    width: 100%;
    height: 150px;;
}
.navto-list{
    padding-left: 436px;
}
#nave1{
   padding-left: 45px; 
}
#nave3{
    padding-left: 20px;
}
#nave4{
    padding-left: 45px;
}
.card-grp{
    width: 100%;
    height: 601px;
    
}
.card{
    width: 22%;
    background-color: #fff;
    height: 515px;
    float: left;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    
}
.card-img img{
    width: 334px;
}
.card-text{
    padding: 0px 20px 5px 25px;
}
.card-head{
    padding-top: 15px;
    padding-bottom: 15px;
}
.head{
    font-size: 32px;
    font-weight: 600;
    line-height: 34.8px;
}
.update{
    width: 30px;
    padding-left: 10px;
    padding-top: 9px;
}
.update button{
    width: 50px;
    height: 30px;
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 16px;
    background-color: #ffb900;
    border: none;
}
.card-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.card-btn1 button{
    width: 95px;
    height: 38px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 126px;
    cursor: pointer;
}
.card-btn2 button{
    width: 95px;
    height: 38px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 91px;
    cursor: pointer;
}
.card-btn3 button{
    width: 139px;
    height: 41px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 166px;
    cursor: pointer;
}
.card-btn4 button{
    width: 120px;
    height: 40px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
.link-expand{
    margin-top: 10px;
}
.link-expand a{
    text-decoration: none;
    color:  rgb(0, 103, 184);
    font-weight: 500;
}

/* Xbox adv */
.xbox{
    height: 550px;
    padding-left: 50px;
    width: 88.7rem;
}
.main-contentbox{
    background-image: url(Navicon/xbox1.webp);
    width: 88.7rem;
    height: 550px;
}
.xbox-content{
    width: 50%;
    height: 550px;
}
.xbox-hed{
    padding-top: 235px;
    padding-left: 116px
}
.xbox-content .head{
    Font-size: 37px;
    Font-weight: 600;
    Line-height: 44.4px;
}
.xbox-para{
    margin-top: 11px;
}
.xbox-content .para{
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
}
.xbox-content .xbox-btn{
    width: 139px;
    height: 38px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.button-base{
    padding-left: 117px;
    margin-top: 30px;
}
.bt-heading{
    margin-left: 50px;
    Font-size: 37px;
    Font-weight: 600;
    Line-height: 44.4px;
}
.card1-btn1 button{
    width: 95px;
    height: 38px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 110px;
    cursor: pointer;
}
.card1-btn2 button{
    width: 95px;
    height: 38px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 55px;
    cursor: pointer;
}
.card1-btn3 button{
    width: 205px;
    height: 41px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 96px;
    cursor: pointer;
}
.card1-btn4 button{
    width: 120px;
    height: 40px;
    background-color: #0067b8;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 117px;
    cursor: pointer;
}
.space{
    padding-bottom: 30px;
    display: flex;
}
.space1{
    width: 100%;
    height: 70px;
    display:flex;
    justify-content: start;
}
.follow-more li{
    float: left;
    list-style: none;
    margin-left: 10px;
}
.follow-more img{
    width: 40px;
}
.follow-for{
    margin-top: 10px;
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
}
.last-button-main{
    padding-bottom: 10px;
    width: 120px;
    height: 50px;
    position: absolute;
    left: 1365px;
}
.last-button{
    display: flex;
    
    width: 135px;
    justify-content: right; 
    background-color: rgb(169, 169, 169);
}
.last-button img{
    height: 19px;
    margin-top: 16px;
}
.total{
    display: flex;
    width: 135px;
}
.sub-footer{
    width: 100%;
    background-color: #0067b8;
}
.sub-footer-content{
    margin-left: 7rem;
}
.updation{
    width: 15%;
    background-color: black;
    float: left;
    margin-left: 10px;
}
.store{
    width: 15%;
    background-color: rebeccapurple;
    float: left;
    margin-left: 10px;
}
.education{
    width: 17%;
    background-color: red;
    float: left;
}
.bussiness{
    width: 15%;
    background-color: gray;
    float: left;
    margin-left: 10px;
}
.developer{
    width: 15%;
    background-color: violet;
    float: left;
    margin-left: 10px;
}
.company{
    width: 15%;
    background-color: aqua;
    float: left;
    margin-left: 10px;
}